<div>
  <div class="vb__utils__heading">
    <h5>General Widgets</h5>
  </div>
  <div class="mb-5">
    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            General / 14
          </h2>
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-wrap mb-2">
                <div class="text-dark font-size-18 font-weight-bold mr-auto">
                  Support Chat
                </div>
                <button type="button" class="btn btn-link p-0 border-0">
                  <i class="fe fe-x-square font-size-21 align-middle text-gray-6"></i>
                </button>
              </div>
              <vb-general-14></vb-general-14>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 12
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-12></vb-general-12>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 12-1
          </h2>
          <div class="card text-white bg-primary">
            <vb-general-12v1></vb-general-12v1>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 12-2
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-12v2></vb-general-12v2>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 12-3
          </h2>
          <div class="card">
            <div class="card-body bg-light">
              <vb-general-12v3></vb-general-12v3>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 13
          </h2>
          <div class="card">
            <vb-general-13></vb-general-13>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 13-1
          </h2>
          <div class="card">
            <vb-general-13v1></vb-general-13v1>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            General / 1
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-1></vb-general-1>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 1-1
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-1v1></vb-general-1v1>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 9
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-9></vb-general-9>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 10
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-10></vb-general-10>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 10-1
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-10v1></vb-general-10v1>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 5-1
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-5v1></vb-general-5v1>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 11
          </h2>
          <div class="card">
            <vb-general-11></vb-general-11>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 11-1
          </h2>
          <div class="card">
            <vb-general-11v1></vb-general-11v1>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            General / 2
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-2></vb-general-2>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 2-1
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-2v1></vb-general-2v1>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 2-2
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-2v2></vb-general-2v2>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 2-3
          </h2>
          <div class="card text-white bg-success">
            <div class="card-body">
              <vb-general-2v3></vb-general-2v3>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 2-4
          </h2>
          <div class="card text-white bg-danger">
            <div class="card-body">
              <vb-general-2v4></vb-general-2v4>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 3
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-3></vb-general-3>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 3-1
          </h2>
          <div class="card bg-primary">
            <div class="card-body">
              <vb-general-3v1></vb-general-3v1>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 4
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-4></vb-general-4>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 5
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-5></vb-general-5>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 6
          </h2>
          <div class="card">
            <vb-general-6></vb-general-6>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 6-1
          </h2>
          <div class="card">
            <vb-general-6v1></vb-general-6v1>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 7
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-7></vb-general-7>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            General / 8
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-8></vb-general-8>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            General / 16
          </h2>
          <vb-general-16 [isNew]="true" [isFavorite]="true" image="assets/images/products/003.jpg"
            name="TP-Link AC1750 Smart WiFi Router - Dual Band Gigabit Wireless Internet Routers for Home"
            price="245.21" oldPrice="419.58"></vb-general-16>
        </div>
      </div>
      <div class="col-xl-8 col-lg-12">
        <div>
          <h2 class="badge-example">
            General / 15
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-general-15></vb-general-15>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <h2 class="badge-example">General / 17</h2>
          <div class="card">
            <vb-general-17></vb-general-17>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <h2 class="badge-example">General / 17-1</h2>
          <div class="card">
            <vb-general-17v1></vb-general-17v1>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <h2 class="badge-example">General / 17-2</h2>
          <div class="card">
            <vb-general-17v2></vb-general-17v2>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <h2 class="badge-example">General / 18</h2>
          <div class="card">
            <vb-general-18></vb-general-18>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <h2 class="badge-example">General / 18-1</h2>
          <div class="card">
            <vb-general-18v1></vb-general-18v1>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <h2 class="badge-example">General / 19</h2>
          <div class="card">
            <vb-general-19></vb-general-19>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <div>
              <h2 class="badge-example">General / 20</h2>
              <vb-general-20></vb-general-20>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <h2 class="badge-example">General / 20-1</h2>
              <vb-general-20v1></vb-general-20v1>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <h2 class="badge-example">General / 21</h2>
              <vb-general-21></vb-general-21>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <h2 class="badge-example">General / 21-1</h2>
              <vb-general-21v1></vb-general-21v1>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <h2 class="badge-example">General / 21-2</h2>
              <vb-general-21v2></vb-general-21v2>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <h2 class="badge-example">General / 21-3</h2>
              <vb-general-21v3></vb-general-21v3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div>
          <h2 class="badge-example">General / 22</h2>
          <div class="card">
            <div class="card-body">
              <vb-general-22></vb-general-22>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
          <h2 class="badge-example">General / 23</h2>
          <div class="card bg-light">
            <div class="card-body">
              <vb-general-23></vb-general-23>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div>
          <h2 class="badge-example">General / 23-1</h2>
          <div class="card">
            <div class="card-body">
              <vb-general-23v1></vb-general-23v1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <div>
              <h2 class="badge-example">General / 24</h2>
              <div class="card bg-primary border-0">
                <div class="card-body">
                  <vb-general-24></vb-general-24>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div>
              <h2 class="badge-example">General / 24-1</h2>
              <div class="card bg-light">
                <div class="card-body">
                  <vb-general-24v1></vb-general-24v1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <h2 class="badge-example">General / 27</h2>
          <div class="card">
            <div class="card-body">
              <vb-general-27></vb-general-27>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <h2 class="badge-example">General / 27-1</h2>
          <div class="card">
            <div class="card-body">
              <vb-general-27v1></vb-general-27v1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>