@import 'src/mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* LOGIN */

.boxContainer {
  max-width: rem(450);
  min-width: rem(450);
  padding: rem(40);
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;

  @media (max-width: $md-max-width) {
    min-width: rem(380);
    padding: rem(40);
  }
}
