<div>
  <div class="vb__utils__heading">
    <h5>Lists Widgets</h5>
  </div>
  <div class="mb-5">
    <div class="row">
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            List / 1
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-1></vb-list-1>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 5
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-5></vb-list-5>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 8
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-8></vb-list-8>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 11
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-11></vb-list-11>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 14
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-14></vb-list-14>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 17
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-17></vb-list-17>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 20
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-20></vb-list-20>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            List / 2
          </h2>
          <div class="card">
            <vb-list-2></vb-list-2>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 6
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-6></vb-list-6>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 9
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-9></vb-list-9>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 12
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-12></vb-list-12>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 15
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-15></vb-list-15>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 19
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-19></vb-list-19>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div>
          <h2 class="badge-example">
            List / 3
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-3></vb-list-3>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 4
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-4></vb-list-4>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 7
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-7></vb-list-7>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 10
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-10></vb-list-10>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 13
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-13></vb-list-13>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 16
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-16></vb-list-16>
            </div>
          </div>
        </div>
        <div>
          <h2 class="badge-example">
            List / 18
          </h2>
          <div class="card">
            <div class="card-body">
              <vb-list-18></vb-list-18>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h2 class="badge-example">List / 21</h2>
        <vb-list-21></vb-list-21>
      </div>
      <div class="col-lg-4">
        <h2 class="badge-example">List / 21-1</h2>
        <vb-list-21v1></vb-list-21v1>
      </div>
      <div class="col-lg-4">
        <h2 class="badge-example">List / 21-2</h2>
        <vb-list-21v2></vb-list-21v2>
      </div>
    </div>
  </div>
</div>