<div class="menuSimply">
  <a href="javascript: void(0);" class="logo d-none d-md-block">
    <div class="logo__letter">A</div>
    <div class="logo__name">{{ logo }}</div>
    <div class="logo__descr">{{ description }}</div>
  </a>
  <div class="mr-auto d-block">
    <vb-menu-simply-pages></vb-menu-simply-pages>
  </div>
  <div class="mb-0 mr-4 d-xl-block d-none">
    <vb-menu-simply-status></vb-menu-simply-status>
  </div>
  <div class="mr-4 d-none d-md-block">
    <vb-menu-simply-language-switcher></vb-menu-simply-language-switcher>
  </div>
  <div class="mr-4 d-none d-md-block">
    <vb-menu-simply-actions></vb-menu-simply-actions>
  </div>
  <div class="d-none d-md-block">
    <vb-menu-simply-user-menu></vb-menu-simply-user-menu>
  </div>
</div>