<div [ngClass]="{
  'vb__layout__grayBackground': isGrayBackground
}">
  <nz-layout [ngClass]="{
  'vb__layout': true,
  'vb__layout__contentMaxWidth': isContentMaxWidth,
  'vb__layout__appMaxWidth': isAppMaxWidth,
  'vb__layout__squaredBorders': isSquaredBorders,
  'vb__layout__cardsShadow': isCardShadow,
  'vb__layout__borderless': isBorderless
}">

    <vb-sidebar></vb-sidebar>
    <vb-support-chat></vb-support-chat>

    <!-- left menu -->
    <!-- FIX: nz-sider wrapper fix layout behaviour in case when vb-menu-left root tag breaks layout transformation -->
    <nz-sider *ngIf="menuLayoutType === 'left' && !isMobileView" [nzWidth]="isMenuCollapsed ? 80 : leftMenuWidth"
      style="transition: none !important">
      <vb-menu-left></vb-menu-left>
    </nz-sider>

    <!-- mobile menu with drawer -->
    <div *ngIf="isMobileView">
      <div class="handler" (click)="toggleMobileMenu()">
        <div class="handlerIcon"></div>
      </div>
      <nz-drawer [nzClosable]="false" [nzWrapClassName]="'mobileMenu'" [nzVisible]="isMobileMenuOpen" nzPlacement="left"
        (nzOnClose)="toggleMobileMenu()">
        <vb-menu-left></vb-menu-left>
      </nz-drawer>
    </div>

    <!-- top menu -->
    <div *ngIf="menuLayoutType === 'top' && !isMobileView">
      <vb-menu-top></vb-menu-top>
    </div>

    <nz-layout>
      <nz-header [ngClass]="{
        'vb__layout__header': true,
        'vb__layout__fixedHeader': isTopbarFixed,
        'vb__layout__headerGray': isGrayTopbar
      }">
        <vb-topbar></vb-topbar>
      </nz-header>
      <vb-breadcrumbs></vb-breadcrumbs>
      <nz-content class="vb__layout__content">
        <div>{{settings | json}}</div>
        <div [@slideFadeinUp]="routeAnimation(outlet, 'slideFadeinUp')"
          [@slideFadeinRight]="routeAnimation(outlet, 'slideFadeinRight')"
          [@zoomFadein]="routeAnimation(outlet, 'zoomFadein')" [@fadein]="routeAnimation(outlet, 'fadein')">
          <router-outlet #outlet="outlet"></router-outlet>
        </div>
      </nz-content>
      <nz-footer>
        <vb-footer></vb-footer>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</div>